body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
/*   border: 1px solid red; */
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.container {
  max-width: 90%;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: 2rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.card-cover {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  width: 90%;
}

.card {
  padding: 1rem;
  box-shadow: 2.5px 2px 5px hsl(0deg 0% 0% / 0.42),
    2.5px -2px 5px hsl(0deg 0% 0% / 0.42);
  border-radius: 15px;
transition: 0.5s, ;
}

.card:hover{
  background-color:blue;
  color:#fff;
}

.card:hover .name{
  color: yellow
}


.btn{
  padding:0.5em;
  font-size: 1rem;
  display: inline-block;
}

.p-1 {
  padding: 1rem;
}
.m-1 {
  margin: 1rem;
}

.strong {
  font-size: 1rem;
  font-weight: 600;
}

.pagination-btn {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.pagination-btn:active {
  border: 1px solid red;
}

.users-container {
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}
.thumbnail {
  /* flex-basis: 150px; */
  /* flex-shrink: 1; */
  flex: 1 0 150px;
  max-width: 100px;
}

.thumbnail,
.thumbnail img {
  border-radius: 50%;
}

.name {
  color: rgb(3, 37, 26);
}

/* .buttons {
  align-self: center; 
} */

/* Navigation */

.navbar {
  justify-content: space-between;
  padding: 2rem;
  background-color: #000;
}
.nav-link{
  font-size:1.2rem;
  font-weight:600;
  transition:0.5s;
  color:yellow;
}


.nav-link:hover{
  color: #f435;
font-size:1.4rem
}

.nav-link.active {
  color: red;
  font-weight: 600;
}

/* Error Page */

.error {
/*   background-image: url("./assets/cry.jpg");
  background-size: cover;
  background-position: center; */
  height: 100%;
  align-items: center;
  justify-content:center;
}

.error-details{
  flex-direction: column;
}

/* Home */
.home-container {
  background:url("./assets/hmp.jpg") ;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width:100%;
  flex-direction:row;
  text-align:center;
  align-items:center;
  justify-content:center;
  gap:2rem;
  position:relative;
  color:#fff;
 
}

.home-container::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color:rgba(0, 0, 0, 0.12) ;
}

.intro{
  display:flex;
  flex-direction:column;
   gap:2rem;
}



.intro > *{
  margin-block:.5rem;
}
